.col-1-v1 {width: 33%;}
.col-2-v1 {width: 66%}
.col-1 {width: 10%;}
.col-2 {width: 20%;}
.col-3 {width: 30%;}
.col-1-v2 {width: 33%;}
.col-2-v2 {width:33%;}
.col-3-v2 {width: 0%;}

.dimensiune{
    height: 256px; 
    width: 512px ;
}
@media screen and (max-width: 660px) {
    .dimensiune{
        height: 192px; 
        width: 384px ;
    }
}
@media screen and (max-width: 500px) {
    .dimensiune{
        height: 144px; 
        width: 286px ;
    }
}
.dimensiune2{
    height: 275px; 
    width: 410px ;
}
@media screen and (max-width: 660px) {
    .dimensiune2{
        height: 220px; 
        width: 308px ;
    }
}
@media screen and (max-width: 500px) {
    .dimensiune2{
        height: 176px; 
        width: 231px ;
    }
}
.left {
    background: #6a040e;
    width: 75%;
    text-align: center;
    margin: auto;
    border: 3px solid #6a040e;
    font-size: x-large;
    width: 100%;
   
    display: flex;
    flex-wrap: wrap;
}
.left2 {
    padding-right: 50%;
}
.right2 {
    padding-left: 100%;
    position: sticky;
    display: flex;
    flex-wrap: wrap;
    width: 160%;
}
.reset{
   left: 10%;
}

.container3 {
    margin: auto;
    padding: 10px;
    text-align: center;
    max-width: 1100px;
   
}
.footer2 {
    background: #6a040e;
    color: white;
    font-size: x-large;
    padding: 45px 0; /* Modifica marimea */
    width: 166.66%;
}
.text{
    background: #6a040e;
}
.container4{
    padding: 10px;
    text-align: center;
    max-width: 1000px;
    margin: auto;
    background-color: #6a040e;
    
  }
  .rowFTC {
    display: flex;
    flex-wrap: wrap;
    column-gap: 10px;
    width: 120%;
    margin: auto;
}
mic{
    font-size: 20px;
}
@media screen and (max-width: 960px) {
    .col-1 {width: 100%;}
    .col-2 {width: 100%}
  }
  @media screen and (max-width: 1500px) {
    .col-1-v2 {width: 100%;}
    .col-2-v2 {width: 100%;}
    .col-3-v2 {width: 100%;}
  }
